body {
    padding: 70px;
    box-sizing: border-box;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./bois_plante.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.background {
    font-family: 'Arial', sans-serif;
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
    margin: 20px;
}

header {
    background-color: rgba(149, 218, 194, 0.5);
    color: #ecf0f1;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    font-style: italic;
    font-family:cursive;
    text-align: left;
    font-size: 2.5em;
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.search-bar input {
    padding: 10px 15px;
    border: #e2e5dc 7px solid;
    border-radius: 4px;
    width: 300px;
}

#search-input:focus {
    outline: none;
    border-color: #c472ae;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

.SearchBtn {
    padding: 3px 6px 3px 6px;
    background-color: rgba(226, 229, 220, 0.5);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
}

.SearchBtn:hover {
    background-color: #c472ae;
}

main {
    margin-left: 240px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: calc(0 - header);
    width: 200px;
    height: calc(100% - 150px);
    border: #95dac8 7px solid;
    background-color: rgba(226, 229, 220, 0.5);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu nav li {
    padding: 10px 15px;
}

#menu nav a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

#about {
    text-align: center;
    font-style: italic bold;
    font-family:cursive;
    font-size: 1.25em;
    padding: 7px 35px 7px 35px;
    background-color: rgba(236, 240, 241, 0.5);
    border: #95dac8 5px solid;
    border-radius: 50px;
    margin: 40px 65px 20px 65px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact {
    text-align: center;
    font-style: italic bold;
    font-family:cursive;
    font-size: 1.25em;
    padding: 4px 20px 4px 20px;
    border-radius: 15px;
    background-color: rgba(236, 240, 241, 0.5);
    margin: 20px 65px 40px 65px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}