header {
    background-color: #DA95A4;
    color: #ecf0f1;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    font-style: italic;
    font-family:cursive;
    text-align: left;
    font-size: 2.5em;
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.search-bar input {
    padding: 10px 15px;
    border: #e2e5dc 7px solid;
    border-radius: 4px;
    width: 300px;
}

#search-input:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

.SearchBtn {
    padding: 3px 6px 3px 6px;
    background-color: #e2e5dc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
}

.SearchBtn:hover {
    background-color: #2980b9;
}

main {
    margin-left: 240px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: calc(0 - header);
    width: 200px;
    height: calc(100% - 150px);
    border: #DA95A4 10px solid;
    background-color: #e2e5dc;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu nav li {
    padding: 10px 15px;
}

#menu nav a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}